.paginationItem {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 15px;
}
.selectedPage {
   font-weight: bold;
   color: #0004e0cc !important;
	border-color:#0004e0cc !important;
   background-color:  #03054b05 !important;
}
.paginationList span{
   display: inline-block;
   width: 50px;
   text-align: center;
   margin: 3px;
}
.buttonsBlock {
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin-top: 5px;
}
.buttonPrev,
.buttonNext {
   margin: 0px 10px;
}
.buttonPrev button,
.buttonNext button,
.paginationItem span{
   font-size: 0.9rem;
	font-weight: 600;
	color: #2a323a;
	text-decoration: none;
	padding: 1px 10px 4px 10px;
	border: 2px solid #2a323a;
	border-radius: 3px;
}
.buttonPrev button:hover,
.buttonPrev button:focus,
.buttonNext button:hover,
.buttonNext button:focus,
.paginationItem span:hover {
   outline: none;
	color: #0004e0cc;
	border-color:#0004e0cc;
	transition: 0.2s;
	background-color:  #03054b05;
	cursor: pointer;
}

@media (max-width: 575.98px) {
   .paginationList span {
      width: 40px;
   }
   .buttonPrev button,
   .buttonNext button,
   .paginationItem span{
      font-size: 0.7rem;
      padding: 4px 5px 4px 5px;
      border: 1px solid #2a323a;
   }
}

@media (max-width: 991.98px) {
   .button button,
   .paginationItem span{
      font-size: 0.8rem;
   }
}